<%= link_to 'Crear Concierto', new_encuentro_concierto_path(@encuentro), class: 'button is-link' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="fecha">Fecha</th>
      <th class="hora">Hora</th>
      <th class="compositor">Compositor</th>
      <th class="titulo">Título</th>
      <th class="imagenes">
        <span class="icon">
          <%= icon('fas', 'images') %>
        </span>
      </th>
      <th class="acciones"></th>
    </tr>
  </thead>
  <tbody>
    <% @encuentro.conciertos.each do |c| %>
      <tr>
        <td><%= c.fecha_corta %></td>
        <td><%= c.hora_display %></td>
        <td><%= c.nombre_compositor %></td>
        <td><%= c.titulo %></td>
        <td>
          <span class="icon">
            <%= icon('fas', 'check') if c.fotos.attached? %>
          </span>
        </td>
        <td>
          <span class="icon">
            <%= link_to icon('fas', 'edit'), edit_concierto_path(c) %>
          </span>
          <span class="icon">
            <%= link_to icon('fas', 'eye'), concierto_path(c) %>
          </span>
          <span class="icon">
            <%= link_to icon('fas', 'trash'), concierto_path(c), method: :delete, data: { confirm: 'Esta acción es irreversible. ¿Desea continuar?' } %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
