<%= form_with model: @encuentro do |form| %>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :habilitado, class: 'label' %>
  </div>

  <div class="field-body">
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <%= form.check_box :habilitado, class: 'checkbox' %>
        </label>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :version, class: 'label' %>
  </div>

  <div class="field-body">
    <div class="field">
      <div class="control">
        <%= form.text_field :version, class: 'input' %>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :epigrafe, class: 'label' %>
  </div>

  <div class="field-body">
    <div class="field">
      <div class="control">
        <%= form.text_field :epigrafe, class: 'input' %>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :titulo, class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <%= form.text_area :titulo, class: 'textarea' %>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :bajada, class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <%= form.text_field :bajada, class: 'input' %>
      </div>
    </div>
  </div>
</div>

<hr>

<%= render partial: 'promocional', locals: { form: form } %>

<hr>

<%= render partial: 'video', locals: { form: form } %>

<hr>

<%= render partial: 'logos', locals: { form: form } %>

<hr>

<%= render partial: 'fotos', locals: { form: form } %>

<hr>

<%= render partial: 'fotos_ensayos', locals: { form: form } %>

<hr>

<%= render partial: 'quienes_somos', locals: { form: form } %>

<hr>

<%= render partial: 'coordinador', locals: { form: form } %>

<hr>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :videos, class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <%= form.text_area :videos, class: 'textarea' %>
      </div>
    </div>
  </div>
</div>

<hr>

<%= render partial: 'imagenes_prensa', locals: { form: form } %>

<% unless 'show' == params[:action] %>
  <div class="field is-horizontal">
    <div class="field-label is-normal"></div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.button class: 'button is-link' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% end %>
