<%= link_to 'Crear Exponente', new_encuentro_exponente_path(@encuentro), class: 'button is-link' %>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Nombre</th>
      <th class="imagenes">
        <span class="icon">
          <%= icon('fas', 'images') %>
        </span>
      </th>
      <th class="acciones"></th>
    </tr>
  </thead>
  <tbody>
    <% @encuentro.exponentes.each do |e| %>
      <tr>
        <td><%= e.nombre %></td>
        <td>
          <span class="icon">
            <%= icon('fas', 'check') if e.foto.attached? %>
          </span>
        </td>
        <td>
          <span class="icon">
            <%= link_to icon('fas', 'edit'), edit_exponente_path(e) %>
          </span>
          <span class="icon">
            <%= link_to icon('fas', 'eye'), exponente_path(e) %>
          </span>
          <span class="icon">
            <%= link_to icon('fas', 'trash'), exponente_path(e), method: :delete, data: { confirm: 'Esta acción es irreversible. ¿Desea continuar?' } %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
